*{
    margin: 0;
    padding: 0;
}
h1{
 background-color: #381d2a;   
 color: white;
 height: 5rem;
 text-align: center;
 line-height: 5rem;
}
.choice{
    height:220px;
    width: 220px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.choice:hover{
    cursor: pointer;
    background-color: #ba5624;

}
img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50px;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
    
}

#user-score, 
#comp-score{
font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
    justify-content: center;

}

#msg{
    background-color: #381d2a;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;   
}